
body{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#gridDiv {
    width: 40vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 5px;
    column-gap: 20px;
    align-content: center;
}

#keyboard{
    display: grid;
    height: 30vh;
    width: 100vw;
    grid-template-rows: repeat(3,1fr) ;
    justify-items: center;

}





#row-0{
    /* height:100%;*/
    background-color: red;
    justify-content: space-between;
    /* justify-content: center; */
}
#row-1{
    /* height:100%;*/
    background-color: green;
    justify-content:space-evenly;
    }

#row-2{
    background-color: blue;
    justify-content: space-around;

}

.row {
    max-width: 100vw;
    display: flex;
}

/* letter box is the individual grid in which a letter is in*/
.key {
    aspect-ratio: 1/1;
    max-height: 100%;
    max-width: 10%;

}

.letterBox {
    border: solid 5px;
    border-color: slategray;
    background-color: lightgray;
    /*width: 50x;*/
    aspect-ratio: 1/1;
    width: 100%s;
    text-align: center;
}
