@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

h1 {    
    font-family: 'Lobster', cursive;
    margin-bottom: 40px;
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url('https://wallpaper-house.com/data/out/9/wallpaper2you_363894.jpg');
    background-size: cover;
}

#gridDiv {
    width: 40vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 5px;
    column-gap: 20px;
    align-content: center;
    margin-bottom: 10vh;
}

#keyboard{
    display: grid;
    height: 30vh;
    width: 100vw;
    grid-template-rows: repeat(3,1fr) ;
    justify-items: center;
    margin-bottom: 5vh;

}

#gridDiv > div {
    font-size: 28px;
    font-family: 'Lobster', cursive;
}

#row-0{
    /* height:100%;*/
    justify-content: space-between;
    /* justify-content: center; */
}
#row-1{
    /* height:100%;*/
    justify-content:space-evenly;
    }

#row-2{
    justify-content: space-around;

}

.row {
    max-width: 100vw;
    display: flex;
}

.key {
    font-family: 'Lobster', cursive;
    aspect-ratio: 1/1;
    max-height: 100%;
    max-width: 10%;
    border-radius: 15%;
    font-size: 32px;
    
    
}
.specialKey{
    max-width: 15%;
    aspect-ratio: 2/1;
    border-radius: 30px;
}

/* letter box is the individual grid in which a letter is in*/
.letterBox {
    border: solid 5px;
    border-color: slategray;
    background-color: lightgray;
    border-radius: 15%;
    /*width: 50x;*/
    aspect-ratio: 1/1;
    width: 100%s;
    text-align: center;
}
